.MainNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border:1px solid #f40000;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;

}

.NavLink{
    margin: 10px;
    color: rgb(6, 0, 0);
    text-decoration: none;
    border: gray solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 5px;

}